*{
    margin: 0;
    padding: 0;
}
body{
    background: #E5E5E5;
    font-family: 'Roboto', sans-serif;
    /* text-align: center; */
    font-style: normal;
}
h1{
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    color: #062863;
    padding-top: 233px;
    padding-bottom: 30px;
    margin-left: 90px;
}
p{
    font-size: 22px;
    line-height: 26px;
    color: #415571;
    padding-right: 92px;
    padding-left: 92px;
    padding-bottom: 70px;
}
label{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #525965;
    padding-bottom: 20px;
}
input{
    height: 62px;
    background: #E9F0FA;
    
}
select{
    background: #E9F0FA;
    border-radius: 8px 8px 8px 0px;
}
.container{
    width: 80%;
    margin: 50px auto;
    background-color: #ffffff;
}
.left-box{
    flex-basis: 50%;
    padding: 40px 60px;
}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-group{
    display: flex;
    /* margin-left: 90px; */
}
.input-group .input-group{
        flex-basis: 45%;
    }
.input{
        width: 100%;
        outline: none;
}